<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
</head>

<body>
    <div class="menu">
        <table border="1" cellpadding="3" cellspacing="2">
            <thead>
                <tr>
                    <th align="right" bgcolor="red" style="color: white; font-weight:bold; font-size:20px" colspan="2">
                        Công nghệ dầu gội dưỡng tóc mới
                        <img src="https://nhanvan.vn/kem-duong-phuc-hoi-toc-hu-ton-double-rich-hair-repair-250ml.html">
                    </th>

                </tr>

                <tr>
                    <td colspan="3" font></td>
                </tr>
                <tr>
                    <th align="center" bgcolor="#FFBBBB" style="color: #FF0000; font-size:xx-large" colspan="2"> Tỏa
                        sáng cùng DOUBLE RICH</th>
                </tr>
            <tbody>
                <tr>

                    <td style="color: red"rowspan="2"> Sản phẩm khuyến mãi</td>
                    <tr>hsgdhsghsfh</tr ` 111111111111111111111111111111111111111111111111111111111 111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111 >
                    <td style="color: red"> Cách thức nhận giải </td>
                    
                    <th>jgshucj</th>
                </tr>
             

            </tbody>

            </thead>
        </table>
    </div>
</body>

</html>