<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Các tag cơ bản</title> </title>
    <style>
        h1{
            color:forestgreen;
        }
        h2{
            color: blue;
        }
        h3{
            color:mediumvioletred;
        }
        p{
            color: blue;
        }
        h5{
            color: darkred;
        }
        h6{
            color: forestgreen;
        }
      
       
    </style>
</head>
<body>
    <h1 align= "Center"> Bài 2: Sử dụng các tag cơ bản(tt)</h1>
    <h2 style="text-decoration:underline">Yêu cầu:</h2>  
    <h4 style="font-weight:bold;">
            Thiết kế trang web như sau:
    </h4>
            <h3 align ="Center" style= "  background-color: pink;font-weight:bold;">
                  MẸ
            </h3>
    <p align= "Center" style="font-style:initial" >Mẹ là cả một trời thương <br> Mẹ là cả một thiên đường trần gian <br> Công ơn cha mẹ tựa biển trời</p>
    <hr  width="30%" align="center" /> 
    <h5 align= "Center" style="font-style:initial" >Làm sao báo hiếu hỡi người ơi? <br> Nếu cưa báo hiếu đừng bất hiếu <br> Bất hiếu làm ta khổ muôn đời </h5>
    <hr  width="30%" align="center" /> 
    <h6 align= "Center" style="font-style:initial">Một đời vốn liếng mẹ trao <br> Mẹ cho tất cả mẹ nào giữ riêng  <br> Mẹ hiền như một bà tiên <br> Mẹ theo con suốt hành trình con đi </h6>
    
</body>
</html>