<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Dịnh dạng trang Web</title>
    <style>
        h1{
            color:darkorange;
        }
        body{
            background-color:darkgoldenrod;
        }
        p{
           color:white;
           background-image:url("https://sohanews.sohacdn.com/thumb_w/660/2018/4/18/photo1524042951271-15240429512751070374477.jpg"  );
           background-repeat:no-repeat;
           background-position:left
        }
        
        
    </style>
</head>
<body>
    <h1>"Bất đáo Trường Thành phi hảo hán"...</h1>
  <p  style="background-color:darkgoldenrod" >
    Công ty du lịch Hoàn Mỹ vừa giới thiệu tour mới khám phá đất nước Trung Hoa xinh 
    <br> đẹp.Điểm dừng chân đầu tiên là Bắc Kinh, chinh phục Vạn Lý Trường Thành đồ sộ.
    <br> Đến Thập Tam Lăng nghe những câu chuyện huyền bí trong quá trình xây lăng với
    <br> lời nguyền của các thầy pháp xưa.Tham quan Cung Điện Mùa Hè- nơi Từ Hy Thái Hậu 
    <br> cho “đào hồ, đắp núi, xây chùa”.
    <br> Đặc biệt, du khách đến thăm quảng trường lớn nhất thế giới:Thiên An Môn - nơi gây 
    <br> chấn động dư luận quốc tế một thời, ghé qua Cố Cung – biểu tượng của nền phong kiến 
    <br> lâu đời.Món vịt quay Bắc Kinh sẽ làm cho du khách khó quên trong chuyến hành trình. 
    <br> Ngoài ra, khách còn được chạm tay vào quốc bảo Trung Hoa.Tiếp đó, đến Thượng Hải để
    <br> tham quan vườn Dự Viên với kiến trúc hài hòa. Rồi dạo quanh bến Thượng Hải ngắm nhìn
    <br> khu lầu Vạn Quốc.Bất ngờ hơn, du khách đi đường hầm xuyên qua sông Hoàng Phố.
    <br> Đến Hàng Châu, nghe kể về sự tích các cây cầu “Cầu gãy mà không gãy, cầu dài mà không 
    <br> dài” – gắn liền với chuyện Lương Sơn Bá, Chúc Anh Đài.Du khách có dịp mua sắm thỏa 
    <br> thích từ quần áo, mỹ phẩm,đồ lưu niệm, đặc biệt là ngọc trai quý hiếm… Trung Hoa cổ kính,
    <br> Trung Hoa hiện đại chắc chắn là điểm đến khó quên trong mùa hè.
  </p>
   </body>
</html>