<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Định dạng trang Web </title>
    <style>
        h1{
            color: aquamarine;
        }
        p{
            background-color:teal;
            color: white;
            font-style:normal;
            
        }
        h2{
            color: teal;
            
        }
        body{
            background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXjFoc5d_mDmL2wyNkPYPHdxCcC_dOl6sNU3GKB-ohsFuKREp-);
            background-repeat: repeat;
            background-size: 05cm;
          
        }
    </style>
</head>

<body>
        <h1 align= "Center"> Lâu đài gỗ ở Pattaya</h1>
        <p style="font-weight:lighter">
                Nằm trên một doi đất nhỏ ở phía Bắc bờ biển Pattaya, tòa lâu đài Prasat Sajjatham, tạm
                <br> dịch là “Ngôi đền chân lý” (The Sanctuary of Truth) không những là một phiên bản
                <br> hoàn hảo của nghệ thuật kiến trúc cổ mà còn là một minh chứng cho sự sáng tạo của
                <br> nền nghệ thuật hiện đại Thái Lan. </p>
            <h2 style="font-weight: normal; font-size:100%;  font-style:oblique; font-weight:bold">
                    Lâu đài Sajjatham được khởi công vào ngày 13-8-1981, xuất phát từ ý tưởng của một nhà
                    <br> tỷ phú Thái Lan – ông Lek Viriyaphan, chủ nhân Công ty Mô tô Thonburi và Công ty 
                    <br> Bảo hiểm Viriya.
                    <br>
                    <br> “Ngôi đền chân lý” có chiều cao 105m, chiều dài 100m, diện tích bên trong lâu đài
                    <br> là 2.115m2, còn diện tích toàn bộ khu vực là 12,8ha. Nó được phân thành 4 cánh 
                    <br> chái hướng ra 4 phía, mỗi cánh được thiết kế theo một kiểu kiến trúc khác nhau.
                    <br> Một cánh làm ta nhớ đến kiểu kiến trúc hoành tráng của Angkor Wat,trong khi một
                    <br> cánh khác được thiết kế theo “mô típ” Trung Hoa.
              </h2>
                   
</body>
</html>