<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        h1{
            color: teal;
        }
        font{
            color: red;
        }
        pre{
            color: blue;
            background-color:floralwhite;
        }
    
    </style>
    
</head>
<body>
    <h1 align= "center"> Định dạng văn bản </h1>
    <u style="font-weight: bold"> Hóa học:</u>  Nước: <font> H<sub>2</sub>O  </font>;
    <br>
    <u style="font-weight: bold"> Toán học:</u> Phương trình bậc 2: <font> ax<sup>2</sup>+bx+c=0  </font>;
    <br>
    <u style="font-weight: bold"> Tin học:</u>  Vòng lặp For.
    <br>
        <pre>
                    For i = 0 t 10
                        Tong = Tong +1
                    Next
        </pre>

    
</body>
</html>