<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bài viết về Thượng Hải</title>
    <style>
        h1{
            color:orangered;
            border: #ff0000 solid 2px;
        }
       font{
           color:indianred;
           font-family: initial;
           font-size: 50pt;
           font-weight: bold;
       }
       h2{
           color: white;
           background-color:lightslategray;
       }
       i{
           color:maroon;
       }
       b{
           color:maroon;
       }
       i{
           background-color: coral;
       }
    </style>
</head>
<body>
    <h1 align ="center" >THƯỢNG HẢI <br> TƯƠNG LAI CỦA TRUNG HOA HIỆN ĐẠI </h1>
    <p> <font>K</font>hông thể so sánh với Bắc Kinh, Tây An về chiều sâu văn hóa hay bề dày lịch sử,
            <br> Thượng Hải hấp dẫn du khách bởi một khía cạnh khác:<u style="font-weight: bold"> điểm nóng nhất của
                    <br> Trung Hoa hiện đại.</u> </p> 
    </p>
    <h2 align ="right" >
        BẾN THƯỢNG HẢI
    </h2>
    <p>
            <font>L</font>à sự kết hợp hài hòa một cách kỳ lạ giữa <b> Liverpool</b> và <b> Mahattan</b> những năm 1920,
            <br> con phố ấn tượng nhất ở Thượng Hải là Trung Sơn lộ, người phương Tây quen 
            <br> gọi là <i> Bund</i> còn người Việt Nam gọi là <i> Bến Thượng Hải</i> . Xưa kia, đây chính
            <br> là trung tâm náo nhiệt nhất của Thượng Hải, là khu tô giới bị tranh chấp 
            <br> dữ dội nhất của ba nước Anh, Nhật, Mỹ. Một bên là sông Hoàng Phố, bên kia
            <br> là những công trình kiến trúc theo lối Tây phương - cũng chính là trung 
            <br> tâm kinh tế đầu não của thành phố này.
    </p>
    
</body>
</html>