<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>chương trình học của ngành lập trình</title>
    <style>
    h1{
        color: #CC0033;
        font-weight: bold
    }
    th{
        color: white;
        background-color: #CC0033
    }
    .intro{
        color: #CC0033
    }
    
    </style>
</head>
<body>
    <h1 align= "center"> Chương trình học - ngành lập trình</h1>
    <table border="1" cellpadding= "3" cellspacing= "2">
        <thead>
            <tr>
                <th align= " center"  rowspan="2"> Nhóm học phần </th>
                <th align= " center"  rowspan="2"> Môn học </th>
                <th align= " center"  colspan="3"> Số tiết </th>
            </tr>
            <tr>
                <th>Lý thuyết </th>
                <th>Thực hành</th>
            </tr>
                <tbody> 
                    <tr> 
                            <td align= "center "rowspan="4" class="intro">I <br> Tin học văn phòng </td>
                            <td> Hệ điều hành Windown </td>
                            <td > 3 </td>
                            <td> 5 </td>
                        </tr>
                        <tr>
                            <td> Sử dụng Internet</td>
                            <td> 4 </td>
                            <td> 3 </td>
                            </tr>
                        <tr>
                            <td> Xử lý số liệu với MS Excel</td>
                            <td> 2 </td>
                            <td> 5 </td>
                            </tr>
                        <tr>
                            <td> Soạn thảo văn bản với MS Word</td>
                            <td> 3 </td>
                            <td> 1 </td>
                            </tr>
                </tbody>
                <tbody> 
                        <tr> 
                                <td align= "center "rowspan="2" class="intro">II <br> Kỹ thuật lập trình (VB.NET) </td>
                                <td> Nhập môn lập trình</td>
                                <td > 34 </td>
                                <td> 52 </td>
                            </tr>
                            <tr>
                                <td> Kỹ thuật lập trình </td>
                                <td> 41 </td>
                                <td> 32 </td>
                                </tr>
                    </tbody>
                <tbody>
                    <td colspan="4">...</td>
                </tbody>
        </thead>    
    </table>
</body>
</html>